/* Background */
.login-body {
    background: linear-gradient(90deg, #b5e8ef, #9cd9ef, #0b5ecf);
    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main Layout */
.auth-container {
    width: 80%;
    max-width: 1100px;
    display: flex;
    background: #ffffffd8;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

/* LEFT SIDE */
.auth-left {
    width: 50%;
    background: #e8f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.robot-img {
    width: 85%;
    animation: float 4s ease-in-out infinite;
}

/* RIGHT SIDE */
.auth-right {
    width: 50%;
    padding: 60px;
}

.auth-right h1 {
    font-size: 38px;
    font-weight: 700;
    color: #0b2844;
}

.sub-title {
    font-size: 18px;
    margin-bottom: 30px;
    color: #1a3b5b;
}

/* Form */
.login-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    font-weight: 600;
    color: #003b6f;
}

input {
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #0b5ecf;
    margin-top: 5px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #003070;
}

/* Button */
.auth-btn {
    margin-top: 25px;
    padding: 14px;
    border: none;
    border-radius: 30px;
    background: #0b5ecf;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.auth-btn:hover {
    background: #003c85;
}

.small-text {
    margin-top: 20px;
    font-size: 15px;
}

.small-text a {
    color: #003c85;
    font-weight: bold;
}

.robot-small {
    width: 110px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    animation: float 4s ease-in-out infinite;
}

.auth-bottom-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.auth-bottom-row p {
    font-size: 14px;
    color: #333;
}

.auth-bottom-row a {
    color: #003bcf;
    font-weight: 600;
    text-decoration: none;
}

.auth-bottom-row a:hover {
    text-decoration: underline;
}

/* Small robot on right */
.small-bot {
    width: 95px;
    margin-left: 20px;
    margin-top: -15px;
    animation: float 3s ease-in-out infinite;
}


/* Floating Animation */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

/* Responsive */
@media (max-width: 850px) {
    .auth-container {
        flex-direction: column;
        width: 90%;
    }

    .auth-left, .auth-right {
        width: 100%;
        text-align: center;
    }

    .robot-img {
        width: 60%;
    }

    .robot-small {
        display: none;
    }
}
