/* Background */
.team-body {
    background: linear-gradient(90deg, #96d7e0, #0b5ecf);
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 50px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 70px;
}

.navbar nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.demo-btn {
    background: #fff;
    padding: 12px 28px;
    border-radius: 40px;
    border: 2px solid #000;
    font-weight: 600;
}

.demo-btn:hover {
    background: #000;
    color: #fff;
}

/* Team Section */
.team-section {
    text-align: center;
    margin-top: 40px;
}

.team-title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 40px;
}

.team-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* Cards */
.team-card {
    background: #9be4ea;
    width: 260px;
    padding: 25px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.team-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
}

/* Robot Image */
.team-robot {
    width: 140px;
    margin-bottom: 15px;
}

.team-card h2 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.team-card p {
    font-size: 15px;
    margin-top: 5px;
}
