<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fake Review Detection | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body class="home-body" style="background-color: rgb(168, 221, 221);">

    <!-- Navbar -->
    <header class="navbar">
        <div class="logo">Fake Review Detection</div>
        <nav>
            <a href="{{ url_for('home_page') }}">Home</a>
            <a href="{{ url_for('team_page') }}">Team</a>
            <a href="{{ url_for('contact_page') }}">Contact</a>
            <a href="{{ url_for('about_page') }}">About Us</a>
            <a href="{{ url_for('login_page') }}">Login</a>
        </nav>
        <button class="demo-btn" onclick="window.location.href='{{ url_for('predict_page') }}'">
            BOOK A DEMO →
        </button>
    </header>

    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-text">
            <h1>Fake Review <br><span>Detection</span></h1>

            <p>
                Harnessing behavioral patterns and AI, we empower platforms to detect<br>
                and combat fake reviews and the fake accounts that drive them.
            </p>

            <button class="demo-btn large" onclick="window.location.href='{{ url_for('predict_page') }}'">
                BOOK A DEMO →
            </button>
        </div>

        <div class="hero-image">
            <img src="{{ url_for('static', filename='homepage.png') }}" class="home-man">

        </div>
    </section>

    <!-- FOOTER -->
<footer class="footer">
    <div class="footer-container">

        <div class="footer-left">
            <h2>Fake Review Detection</h2>
            <p>AI-powered system to identify fraudulent reviews and protect customers.</p>
        </div>

        <div class="footer-links">
            <h3>Quick Links</h3>
            <a href="{{ url_for('home_page') }}">Home</a>
            <a href="{{ url_for('about_page') }}">About Us</a>
            <a href="{{ url_for('team_page') }}">Team</a>
            <a href="{{ url_for('contact_page') }}">Contact</a>
        </div>

        <div class="footer-contact">
            <h3>Contact</h3>
            <p>Email: fakereviewdetector25@gmail.com</p>
            <p>Phone: (123) 456-7890</p>
        </div>
    </div>

    <div class="footer-bottom">
        © 2025 Fake Review Detection | All Rights Reserved
    </div>
</footer>


</body>
</html>
