<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | Fake Review Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>

<body class="register-body">

<div class="register-wrapper">

    <!-- LEFT SIDE ROBOT -->
    <div class="register-left">
        <img src="{{ url_for('static', filename='register_robot.png') }}" class="robot-big">
    </div>

    <!-- RIGHT FORM CARD -->
    <div class="register-card">

        <h1>Nice to meet you!</h1>
        <p class="subtitle">Let’s Register First!</p>

        <form method="POST" action="/register">

            <!-- ROW 1 -->
            <div class="row">
                <div class="col">
                    <label>UserName</label>
                    <input type="text" name="username" placeholder="Enter UserNname" required>
                </div>

                <div class="col">
                    <label>NickName</label>
                    <input type="text" name="nickname" placeholder="Enter NickName">
                </div>
            </div>

            <!-- ROW 2 -->
            <div class="row">
                <div class="col">
                    <label>Phone Number</label>
                    <input type="text" name="phone" placeholder="Enter Phone Number">
                </div>

                <div class="col">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Enter Email" required>
                </div>
            </div>

            <!-- ROW 3 -->
            <div class="row">
                <div class="col">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Enter Password" required>
                </div>

                <div class="col">
                    <label>Confirm Password</label>
                    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                </div>
            </div>

            <!-- LOGIN LINK -->
            <p class="login-link">
                Already have an account?
                <a href="{{ url_for('login_page') }}">Login Now</a>
            </p>

            <button class="register-btn" type="submit">Register</button>

        </form>

    </div>

</div>

</body>
</html>
